:root { 
  --primary-color-beige: #FBF4ED;
  --primary-color-purble-light: #DBD1DA;
  --primary-color-purble-dark: #988795;
  --text-color-purble-dark: #5E3057;
  --secondary-color-pink: #FFEAF2;  
  --secondary-color-brown: #AD908D; 
  --secondary-color-yellow: #FFF9B2; 

}
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0 auto;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;

  color: var(--text-color-purble-dark);
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 2em;
  position: relative;
  top: 0;
}


img {
  display: block;
  
}

.content-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

main , aside {
  padding: 4em;
 
}

main {
  width: 60%;
  height: 100vh;
  background-color: var(--primary-color-beige);

}

aside {
  width: 40%;
  height: 100vh;
}
@media (max-width: 600px) {
  aside {
    text-align: center;
  }
}

@media (max-width: 600px) {
  main , aside {
    width: 100%;
  
  }
}
.cone-screen {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  
}
.cone-choice-result {
  margin: 0 auto;
  max-width: 18.75em;
  
  position: absolute;
  top: 15.625em;
  left: 14em;
  
  opacity: 0;
  
}

.cone-choice-result-flavchoice {
  margin: 0 auto;
  max-width: 15.625em;
  position: absolute;
  top: 1.5625em;
  left: 15.5em;
  
  opacity: 1;

}
@media (max-width: 600px) {

  .cone-choice-result {

    top: 16em;
    left: 8em;
  
  }
  .cone-choice-result-flavchoice {
  
    position: absolute;
    top: 2em;
    left: 9.5em;
  
  }
}
@media (max-width: 414px) {
  
  .cone-choice-result {

    left: 1em;
  
  }
  .cone-choice-result-flavchoice {
  
    left: 2.5em;
  
  }
}
@media (max-width: 375px) {

  .cone-choice-result {

    top: 15em;
    left: 0;
  
  }
  .cone-choice-result-flavchoice {
  
    top: 1.5em;
    left: 1.5em;
  
  }
}
#coneEmpty {
  opacity: 1;
}

.link-wrapper {
  margin-bottom: 4em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}
@media (max-width: 600px) {
  .link-wrapper {

    justify-content: center;
    flex-wrap: nowrap;
    
  }
}
.link-wrapper a {
  padding: 2em 1em;
}
.btn {
  padding: 1.25em;
  max-width: 6em;
  
  border-radius: 50%;
  background-color: var(--primary-color-purble-light);
  transition: all 200ms ease-out 200ms;

}
@media (max-width: 465px) {
  .btn {
    padding: .8em;
    max-width: 5em;
  }
}
.btn:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in 200ms;
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
  
}
.btn.active {
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
  
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.brown {
  background-color: brown;
}

.circle {
  width: 18.75em;
  height: 18.75em;
  border-radius: 50%;
  position: absolute;
  left: 14em;
  top: 6em;
  
  
  order: -1;
  background-color: var(--primary-color-purble-light);
}
@media (max-width: 600px) {
  .circle {
    left: 8em;
    top: 7em;
    
  }
}
@media (max-width: 414px) {
  .circle {
    left: 1em;
    
  }
}
@media (max-width: 375px) {
  .circle {
    left: .25em;
    top: 7.5em;
    
  }
}


  
