:root { 
  --primary-color-beige: #FBF4ED;
  --primary-color-purble-light: #DBD1DA;
  --primary-color-purble-dark: #988795;
  --text-color-purble-dark: #5E3057;
  --secondary-color-pink: #FFEAF2;  
  --secondary-color-brown: #AD908D; 
  --secondary-color-yellow: #FFF9B2; 

}
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0 auto;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;

  color: var(--text-color-purble-dark);
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 2em;
  position: relative;
  top: 0;
}


img {
  display: block;
  
}

.content-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

main , aside {
  padding: 4em;
 
}

main {
  width: 60%;
  height: 100vh;
}

aside {
  width: 40%;
  height: 100vh;
}
@media (max-width: 600px) {
  aside {
    text-align: center;
  }
}

@media (max-width: 600px) {
  main , aside {
    width: 100%;
  
  }
}
.cone-screen {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.cone-choice-result {
  margin: 0 auto;
  max-width: 400px;
  position: absolute;
  
  opacity: 0;
  
}
#coneEmpty {
  opacity: 1;
}

.link-wrapper {
  margin-bottom: 4em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}
@media (max-width: 600px) {
  .link-wrapper {

    justify-content: center;
    flex-wrap: nowrap;
    
  }
}
.link-wrapper a {
  padding: 2em 1em;
}
.btn {
  padding: 1.25em;
  max-width: 6em;
  
  border-radius: 50%;
  background-color: var(--primary-color-purble-light);
  transition: all 200ms ease-out 200ms;

}
@media (max-width: 465px) {
  .btn {
    padding: .8em;
    max-width: 5em;
  }
}
.btn:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in 200ms;
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
  
}
.btn.active {
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
}



/* .content-wrapper {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
 
}

.content-wrapper > * {
  width: 40%; 
}
@media (max-width: 600px) {
  .content-wrapper > * {
    width: 100%;
  }
}
.main-screen {
  text-align: center;
}

#cone-display {
 
  background-color: var(--primary-color-beige);
}

.cone-screen {
  margin: 0;
  padding: 4em;
  width: 60%; 
  height: 100vh;

  position: relative;
}
@media (max-width: 600px) {
  .cone-screen {
    width: 100%; 
    height: auto;
  }
}

.cone-choice-result {
  margin: 0 auto;
  max-width: 60%;
  position: absolute;
  top: center;
  left: center;
  text-align: center;
  
  
}

aside{
  padding: 4em;
  float: right;
  position: absolute;
  right: 0;
}
@media (max-width: 600px) {
  aside {
    position: absolute;
    top: 33em;
    text-align: center;
  }
}

.link-wrapper {
  margin-bottom: 4em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  
}
@media (max-width: 600px) {
  .link-wrapper {

    justify-content: center;
    flex-wrap: nowrap;
    
  }
}
.link-wrapper a {
  padding: 2em 1em;
}

.btn {
  padding: 1.25em;
  max-width: 6em;
  
  border-radius: 50%;
  background-color: var(--primary-color-purble-light);
  transition: all 200ms ease-out 200ms;

}
@media (max-width: 465px) {
  .btn {
    padding: .8em;
    max-width: 5em;
  }
}
.btn:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in 200ms;
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
  
}
.btn.active {
  border: 2px solid var(--text-color-purble-dark);
  box-shadow: 15px 9px 35px -14px var(--text-color-purble-dark);
  background-color: var(--primary-color-purble-dark);
} */

  
